{% load webpack_loader static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/font.css' %}">
        <script defer src="{% static '/js/alpinejs.min.js' %}"></script>
        {% block css %}{% endblock %}
        {% block head_js %}{% endblock %}
        {% stylesheet_pack 'app' %}
    </head>
    <body class="bg-gray-100 flex justify-center">
        {% include 'app_web/components/navbar.html' %}
        {% block body %}{% endblock %}
        {% block js %}{% endblock %}
    </body>
</html>